body {
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button button {
    font-size: 2em;
    border-radius: 8px;
    padding: 10px 20px;
    color: lightsalmon;
    background-color: black;
}

button:hover {
    color: lime;
    border: 1px solid lime;
    box-shadow: 5px 15px 33px -10px lime;
    position: relative;
    bottom: 5px;
}

button-wrapper {
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}
  
.amy-button button {
    font-size: 1.5em;
    border-radius: 8px;
    padding: 10px 20px;
    color: #d2f9f9;
    background-color: #18b4b4;
    margin: 20px;
}

.amy-button button:hover {
    color: #ffff99;
    border: 1px solid #ffff99;
    box-shadow: 5px 15px 33px -10px#ffff99;
    position: relative;
    bottom: 5px;
}

